html {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 360px;
  background-color: #232931;
  color: #eeeeee;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.heading {
  color: #21e6c1;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

button {
  background-color: #21e6c1;
  font-weight: bolder;
  color: #121212;
  border-color: #121212;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button.delete {
  background-color: #de193e;
}

button.restore {
  background-color: #21e6c1;
  color: #121212;
}

ul {
  list-style: none;
  align-self: center;
  width: 90%;
}

.popup-buttons {
  display: flex;
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
  background-color: #232931;
  z-index: 1;
  box-shadow: 0 -0.3rem 8px #232931;
}

button.popup {
  width: 2em;
  display: inline-block;
  text-align: center;
  border: none;
  text-decoration: none;
  background: none;
}

.bullet-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

button.list-item {
  color: #393e46;
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 0px;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
}

button.delete-tab {
  color: #de193e;
  display: none;
  border: none;
  text-decoration: none;
  background: none;
}

#group-list{
  min-height: 500px;
  height: max-content;
  width: 1000px;
  border: 5px solid #393e46;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#group-list h2{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

button.bullet {
  border: none;
  text-decoration: none;
  background: none;
}

div.add-tab {
  padding-bottom: 8px;
  height: 20px;
}

button.add-tab {
  background: none;
  color: #21e6c1;
  border: none;
  padding-left: 0.90em;
  padding-right: 5px;
}

.add-tab-input {
  display: none;
  background: none;
  border: 2px solid #393e46;
  color: #eeeeee;;
  width: 70%;
  height: 100%;
}

.tab-group {
  border-bottom:4px solid #393e46;
  /* margin-bottom: 1em; */
  padding: 0.5em;
}


.tab-group .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tab-group .group-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.tab-group .title {
  display: flex;
  flex-direction: row;
}

.group-name {
  background-color: transparent;
  color: #21e6c1;
  border: unset;
  font-weight: bolder;
  font-size: 20px;
  padding-left: 1em;
  display: block;
  line-height: 2em;
}

.number-of-tabs {
  font-weight: bold;
  color: #21e6c1;
  padding-left: 1em;
  width: 5em;
  font-size: 16px;
}

.tab-group .divider {
  width: 2px;
  margin: 6px 0;
  background: #21e6c1;
}

.tab-container:hover {
  background-color: #393e46;
  font-weight: bold;
}

.tab-container:hover button.bullet {
  display: none;
  color: #de193e;
  list-style: none;
}

.tab-container:hover button.delete-tab {
  display: inline-block;
}

.bullet-container:first-child:hover ~ span {
  text-decoration: line-through;
}

#clear-storage-btn {
  float: right;
}

.crossed {
  text-decoration: line-through;
}

.popup-container {
  max-width: 480px;
}

.hidden-btn {
  display: none;
}

.tab-container {
  display: flex;
  line-height: 25px;
  word-wrap: break-word;
  width: 90%;
  margin: 5px 0;
  width: 90%;
  cursor: pointer;
  padding: 5px;
}

.tab-container span {
  cursor: pointer;
}



/* Checkbox */

/* The container */
.popup-element-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.popup-element-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 10px;
  top: 3px;
  height: 16px;
  width: 16px;
  background-color: #393e46;
}

/* On mouse-over, add a grey background color */
.popup-element-container:hover input ~ .checkmark {
  outline: 2px solid #de193e;
  outline-offset: -2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: -6px;
  left: 0px;
}

/* Show the checkmark when checked */
.popup-element-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.popup-element-container .checkmark:after {
  content: "\2A09";
  color: #de193e;
}

/* Styling for Export Page */
textarea {
  resize: none;
  outline: none;
  border: 4px solid #393e46;
  background-color: #232931;
  color: #eeeeee;
  padding: 12px;
}

@media (max-width:648px) {
  .header{
    flex-direction: column;
  }
  .number-of-tabs{
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}
