html {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: 360px;
  background-color: #232931;
  color: #eeeeee;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.heading {
  color: #21e6c1;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

button {
  background-color: #21e6c1;
  font-weight: bolder;
  color: #121212;
  border-color: #121212;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button.delete {
  background-color: #de193e;
}

button.restore {
  background-color: #21e6c1;
  color: #121212;
}

ul {
  list-style: none;
  align-self: center;
  width: 90%;
}

li {
  display: inline-block;
  width: 90%;
  cursor: pointer;
}

.popup-buttons {
  display: flex;
  justify-content: center;
}

button.popup {
  width: 2em;
  display: inline-block;
  text-align: center;
  border: none;
  text-decoration: none;
  background: none;
}

button.list-item {
  width: 3em;
  line-height: 20px;
  color: #393e46;
  display: inline-block;
  text-align: center;
}

button.delete-tab {
  color: #de193e;
  display: none;
  border: none;
  text-decoration: none;
  background: none;
}

button.bullet {
  border: none;
  text-decoration: none;
  background: none;
}

button.add-tab {
  background: none;
  color: #21e6c1;
  border: none;
}

.tab-group {
  border: 4px solid #393e46;
  margin-bottom: 1em;
  padding: 0.5em;
}

.tab-group .header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 100%;
  font-size: 16px;
}

.tab-group .group-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.group-name {
  background-color: transparent;
  color: #21e6c1;
  border: unset;
  font-weight: bolder;
}

.number-of-tabs {
  height: 100%;
  font-weight: bolder;
  color: #21e6c1;
  padding: 10px;
  text-align: center;
}

li:hover {
  background-color: #393e46;
  font-weight: bold;
}

li:hover button.bullet {
  display: none;
  color: #de193e;
  list-style: none;
}

li:hover button.delete-tab {
  display: inline-block;
}

button.delete-tab:hover ~ span {
  text-decoration: line-through;
}

#clear-storage-btn {
  float: right;
}

.crossed {
  text-decoration: line-through;
}

.popup-container {
  max-width: 480px;
}

.hidden-btn {
  display: none;
}

/* Checkbox */

/* The container */
.popup-element-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  width: 90%;
  cursor: pointer;
  word-wrap: break-word;
  line-height: 20px;
}

/* Hide the browser's default checkbox */
.popup-element-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background-color: #393e46;
}

.popup-element-container:hover {
  background-color: #393e46;
}

/* On mouse-over, add a grey background color */
.popup-element-container:hover input ~ .checkmark {
  outline: 2px solid #de193e;
  outline-offset: -2px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: -3px;
  left: 0px;
}

/* Show the checkmark when checked */
.popup-element-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.popup-element-container .checkmark:after {
  content: "\2A09";
  color: #de193e;
}
